@import "tailwindcss";

* {
    cursor: none !important;
}

@media (hover: none) {
    * {
        cursor: auto !important;
    }
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: #1e1e1e;
    color: #d4d4d4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
    color: #569cd6;
}

.hljs-string {
    color: #ce9178;
}

.hljs-comment {
    color: #6a9955;
}

.hljs-number {
    color: #b5cea8;
}

.hljs-function,
.hljs-title {
    color: #dcdcaa;
}

.hljs-params {
    color: #9cdcfe;
}

.hljs-attr {
    color: #9cdcfe;
}